<div class="container">
    <div class="input-group flex-nowrap w-500">
        <span class="input-group-text" id="addon-wrapping">&#64;</span>
        <input type="text" class="form-control" placeholder="Email Id" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap w-500">
        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
        <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
      </div>

      <button type="button" class="btn btn-outline-primary">Log In</button>
</div>
